@media all and (min-width: 991px) {
    #redirect {
        width: 40%;
        border: 1px solid white;
        background-color: black;
        color: white;
    }

    #redirect:hover {
        width: 40%;
        border: 1px solid black;
        background-color: black;
        color: white;
    }
}

@media all and (max-width: 991px) {
  #redirect {
      width: 100%;
      border: 1px solid white;
      background-color: black;
      color: white;
    }

    #redirect:hover {
        width: 100%;
        border: 1px solid black;
        background-color: black;
        color: white;
    }
}

.container.error {
    margin-top: 50px;
}